<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Customer Count</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.country, locations_path(country: location.country) %></td>
        <td><%= link_to location.customers.count, customers_path(location_id: location.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
